* {
    padding: 0;
    margin: 0;
    color: white;
}

body {
    background-color: black;
    font-family: 'Cabin', sans-serif;
}

/*container1 -- page yo */ 

.container-1 {
    position: relative;
    display: flex;
    width: 500px;
    left: 200px;
    top: 200px;
    flex-wrap: wrap;
}

.title-principal {
    position: relative;
    top: 100px;
    left: 20%;
    font-size: 60px;
}

.title-principal:hover {
    color: darkgray;
}

div {
    color: white;
    font-size: 25px;
    margin: 50px 10px;
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-title {
    font-size: 50px;
}
.work {
    background-color: black;
    
}

.work{
	transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);
}
.work:hover {
	margin-left: 40px;
	transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);	
}
.work:hover {
	margin-left: -40px;
	transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);	
}


.link {
    color: white;
    text-decoration: none; 
}

.container-2 {
    margin-top: 250px;
    margin-left: 200px;
    width: 600px;
    position: relative;
}


h2 {
    margin: 50px;
    color: darkgray;
    position: relative;
    font-size: 30px;
    left: 25px;
}

.img-github {
    width: 70px;
}

.github {
    position: relative;
    left: 50px;
}

.img-github:hover {
    transform: scale(1.5);
}

.img-logo {
    margin: 20px 60px;
    position: relative;
    left: 100px;
}

.img-logo-ts {
    margin: 20px 30px;
    position: relative;
    left: 100px;
}

.img {
    width: 70px;
}

.img-logo:hover {
    transform: scale(1.5);
}

.img-logo-ts:hover {
    transform: scale(1.5);
}

.back {
    text-decoration: none;
    position: fixed;
    left: 70%;
    top: 200px;
    color: white;
    font-size: 20px;
}

.back:hover {
    color: darkgray
}

.back:hover:after {
    content: ".Volver"
}

.final-space {
    height: 200px;
    margin-top: 150px;
}

.animate {
	-webkit-animation:animate .6s cubic-bezier(0.2, 0.6, 0.2, 1);
	-moz-animation:animate .6s cubic-bezier(0.2, 0.6, 0.2, 1);
	animation:animate .6s cubic-bezier(0.2, 0.6, 0.2, 1);
	-webkit-animation-fill-mode:backwards;
	-moz-animation-fill-mode:backwards;
	animation-fill-mode:backwards;
}
@-webkit-keyframes animate {
	0% {opacity: 0;-webkit-transform: translateY(100%);}
	100% {opacity: 1;-webkit-transform: translateY(0%);}	
}

@keyframes animate {
	0% {opacity: 0;transform: translateY(30vh);} /* WORK ON THISSS! */
/* 	0% {transform: translateY(100%);} */
	100% {opacity: 1;transform: translateY(0%);}	
}