* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    font-family: 'Cabin', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.back {
    text-decoration: none;
    position: fixed;
    left: 70%;
    top: 200px;
    color: white;
    font-size: 20px;
}

/*  hover a */

.back:hover {
    color: darkblue;
}

.back:hover:after {
    content: ".Volver";
}

.parrafo1 {
    left: 10%;
    top: 100px;
    font-size: 50px;
    position: relative;
    color: white;
    font-family: 'Cabin', sans-serif;
}

.parrafo1:hover {
    color: darkblue;
}

/* second section*/

.container {
    position: relative;
    display: inline-block;
    width: 600px;
    margin-top: 350px;
    left: 250px;
}

h1 {
    position: relative;
    color: white;
    left: -50px;
    font-family: 'Cabin', sans-serif;
}

.parrafo2 {
    color: white;
    font-size: 30px;
    position: relative;
    font-family: 'Cabin', sans-serif;
    top: 50px;
    left: -100px;
}

.mail {
    position: relative;
    display: flex;
    top: 100px;
    right: 50px;
    color: white;
    font-size: 25px;
    margin-top: 20px;
    text-decoration: none;
}

/* copiar mail al portapeles  */

.copy {
	cursor: pointer;
}
.copy:after{
    content:"dexequielmartinez@gmail.com";
}
.copy:hover:after{
	content:"Copiar al portapapeles";
}
.copy:hover:active:after {
    content:"Email copiado";
}

/**/

.final-space {
    height: 200px;
    margin-top: 150px;
}

.mail:hover {
    color: darkblue
}

.move{
	transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);
}
.move:hover {
	margin-left: 40px;
	transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);	
}
.move:hover {
	margin-left: -40px;
	transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);	
}

/*  animation   */

.animate {
	-webkit-animation:animate .6s cubic-bezier(0.2, 0.6, 0.2, 1);
	-moz-animation:animate .6s cubic-bezier(0.2, 0.6, 0.2, 1);
	animation:animate .6s cubic-bezier(0.2, 0.6, 0.2, 1);
	-webkit-animation-fill-mode:backwards;
	-moz-animation-fill-mode:backwards;
	animation-fill-mode:backwards;
}
@-webkit-keyframes animate {
	0% {opacity: 0;-webkit-transform: translateY(100%);}
	100% {opacity: 1;-webkit-transform: translateY(0%);}	
}

@keyframes animate {
	0% {opacity: 0;transform: translateY(30vh);} /* WORK ON THISSS! */
/* 	0% {transform: translateY(100%);} */
	100% {opacity: 1;transform: translateY(0%);}	
}